
@{
    ViewData["Title"] = "Error";
}

<h1>Oh no! It seems as though an error occured! If you still wish to sign up for this service please try again </h1>

    <a asp-action="SignUpPage">Try Again</a>